{% extends 'base.html' %}
{% block title %}Laundry History{% endblock %}
{% block content %}
<h3>Your Laundry History</h3>

<table class="table">
    <thead>
        <tr>
            <th>Item</th>
            <th>Quantity</th>
            <th>Status</th>
            <th>Date</th>
            <th>Completed Date</th>
        </tr>
    </thead>
    <tbody>
        {% for request in requests %}
            <tr>
                <td>{% for item in request.laundryrequestitem_set.all %}
                    <li>{{ item.item.name }}</li>
                {% endfor %}</td>
                <td>{% for item in request.laundryrequestitem_set.all %}
                    <li>({{ item.quantity }})</li>
                {% endfor %}</td>
                <td>{{ request.status }}</td>
                <td>{{ request.created_at }}</td>
                <td> {% if request.status == "Completed" %}
                    {{ request.completed_at|date:"d M Y, H:i" }}
                {% else %}
                    ---
                {% endif %}</td>
            </tr>
        {% empty %}
            <tr><td colspan="4" class="text-center">No previous laundry requests.</td></tr>
        {% endfor %}
    </tbody>
</table>

<a href="{% url 'dashboard' %}" class="btn btn-success">Back to Dashboard</a>
{% endblock %}
